[run]
source = app
omit = 
    tests/*
    app/__init__.py
    app/data_schemas/__init__.py 
    app/services/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 