# Python
__pycache__/

# Environment variables
.env
tests/test.env

# Project specific
uploads/
*.pdf

# Scripts
scripts/

# Coverage
.coverage

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Database files
*.db

# System files
.DS_Store

# Langgraph
.langgraph_api